<ng-container *ngIf="!isLoading">
  <div class="workout-container mt-3">
    <div class="progress-container">
      <div class="timer timer-left">{{ globalTimerInMinutes }}</div>
      <div class="progress">
        <div *ngFor="let item of currentRoundProgressBar"
             [class.active]="item.isActive"
             [class.completed]="item.isCompleted"
             [class.rest]="item.type === 0"
             [style.width]="100 / currentRoundProgressBar.length + '%'"
             class="progress-item">
        </div>
      </div>
      <div class="timer timer-right">{{ unifiedTimer }}</div>
    </div>
    <div class="gif-container">
      <img [src]="isResting ? 'assets/repos.gif' : 'assets/' + video" alt="Exercise GIF" />
      <div class="overlay" *ngIf="showPlayButton">
        <button class="play-button" (click)="startWorkout()">&#9658;</button>
      </div>
    </div>
    <div class="round-counter">Round {{ currentRound }}/{{ workout.workoutTemplate.numRounds }}</div>
  </div>
  <div class="exercise-info">
    <h3>{{ getExerciseById(currentExerciseId)?.name }}</h3>
    <p>{{ getExerciseById(currentExerciseId)?.description }}</p>
    <p>{{ getExerciseById(currentExerciseId)?.difficulty }}</p>
    <p>{{ getExerciseById(currentExerciseId)?.intensity }}</p>
  </div>
</ng-container>

<div *ngIf="isLoading" class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
