<!-- about section Start-->
<section class="gym format" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="text-center center-content">
          <div class="about-img">
            <div class="borders-around">
              <div>
                <div class="bg-black"></div>
              </div>
              <img
                src="assets/images/gym/l5.png"
                alt=""
                class="img-fluid format-img" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="center-text">
          <div>
            <div class="format-small-text">
              <h6 class="font-primary borders-before">
                <span>Notre Progression</span>
              </h6>
            </div>
            <div class="format-head-text">
              <h3 class="about-font-header gradient-text">À Propos de Nous</h3>
            </div>
            <div class="format-sub-text">
              <p class="p-light about-para">
                Bienvenue sur Programme-Fitness.com, votre guide ultime pour des
                entraînements efficaces à domicile ou en extérieur, sans besoin
                d'équipement coûteux ou encombrant. Nous croyons fermement que
                la forme physique est accessible à tous, partout.
              </p>
              <p class="p-light about-para">
                Notre mission est de vous fournir des programmes d'entraînement
                personnalisés, adaptés à tous les niveaux, que vous soyez
                débutant ou plus expérimenté. Nos routines utilisent
                principalement votre poids corporel, complétées par l'usage de
                petits équipements comme des élastiques pour maximiser vos
                résultats. Que vous souhaitiez tonifier votre corps, gagner en
                force ou améliorer votre endurance, nous avons ce qu'il vous
                faut.
              </p>
              <p class="p-light about-para">
                En choisissant Programme-Fitness.com, vous optez pour la
                flexibilité et la commodité. Entraînez-vous à votre rythme, dans
                le confort de votre foyer ou en plein air, tout en bénéficiant
                de conseils professionnels. Rejoignez notre communauté et
                commencez dès aujourd'hui votre parcours vers une meilleure
                forme physique!
              </p>
            </div>
            <a [routerLink]="'blog'" class="btn btn-default primary-btn"
              >Voir les articles</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about section end-->
