<h2 class="mt-3">Mon entrainement</h2>
<div
  class="workout p-3 mb-3 border rounded"
  #workoutList="cdkDropList"
  [cdkDropListConnectedTo]="[exercisesList]"
  cdkDropList
  [cdkDropListData]="futureWorkout"
  (cdkDropListDropped)="drop($event)"
>
  <div class="exercise" *ngFor="let exercise of futureWorkout" cdkDrag>
    <div class="exercise-content">
      <h3>{{ exercise.name }}</h3>
      <p>{{ exercise.description }}</p>
    </div>
    <div class="exercise-preview" *cdkDragPreview>
      <img [src]="exercise.imgUrl" alt="Exercise Image" />
    </div>
  </div>
</div>
<form class="mb-3">
  <div class="form-group row">
    <label for="duration" class="col-sm-3 col-form-label"
      >Durée de l'entrainement: {{ duration | secondsToTime }}</label
    >
    <div class="col-sm-9">
      <input
        type="range"
        class="custom-range"
        id="duration"
        name="duration"
        [(ngModel)]="duration"
        min="480"
        max="3600"
        step="60"
        (ngModelChange)="onDurationChange($event)"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="difficultyLevel" class="col-sm-3 col-form-label"
      >Difficulté: {{ difficulty }}</label
    >
    <div class="col-sm-9">
      <input
        type="range"
        class="custom-range"
        id="difficultyLevel"
        name="difficultyLevel"
        [(ngModel)]="difficultyLevel"
        min="1"
        max="3"
        step="1"
        (ngModelChange)="onDifficultyChange($event)"
      />
    </div>
  </div>
</form>
<button class="btn btn-primary mb-3" (click)="createWorkout()">
  Create Workout
</button>

<h2 class="mt-3">Tous les exercices</h2>
<form class="mb-3 mt-2">
  <div class="form-group row">
    <label for="filter" class="col-sm-2 col-form-label">Filter</label>
    <div class="col-sm-6">
      <input
        class="form-control"
        id="filter"
        name="filter"
        [(ngModel)]="filter"
        (input)="applyFilter()"
        placeholder="Filter exercises"
      />
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group col-md-6">
      <div class="form-check" *ngFor="let group of muscleGroupsEnum | keyvalue">
        <input
          class="form-check-input"
          type="checkbox"
          id="{{ group.value }}"
          [(ngModel)]="selectedMuscleGroups[group.value]"
          name="{{ group.value }}"
          (change)="applyFilter()"
        />
        <label class="form-check-label" for="{{ group.value }}">
          {{ group.value }}
        </label>
      </div>
    </div>
    <div class="form-group col-md-6">
      <div
        class="form-check"
        *ngFor="let difficulty of exerciseDifficulty | keyvalue"
      >
        <input
          class="form-check-input"
          type="checkbox"
          id="{{ difficulty.key }}"
          [(ngModel)]="selectedDifficulty[difficulty.key]"
          name="{{ difficulty.key }}"
          (change)="applyFilter()"
        />
        <label class="form-check-label" for="{{ difficulty.key }}">
          {{ difficulty.value }}
        </label>
      </div>
    </div>
  </div>
</form>

<div
  class="exercises p-3 mb-3 border rounded"
  #exercisesList="cdkDropList"
  [cdkDropListConnectedTo]="[workoutList]"
  cdkDropList
  [cdkDropListData]="exercises"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListSortingDisabled]="true"
>
  <div class="exercise" *ngFor="let exercise of exercises" cdkDrag>
    <div class="exercise-content">
      <h3>{{ exercise.name }}</h3>
      <p>{{ exercise.description }}</p>
      <p>{{ exercise.difficulty }}</p>
      <p>{{ exercise.intensity }}</p>
    </div>
    <div class="exercise-preview" *cdkDragPreview>
      <span>{{exercise.name}}</span>
      <img [src]="exercise.imgUrl" alt="Exercise Image" />
    </div>
  </div>
</div>
