<!--megamenu section Start-->
<header class="dark loding-header custom-scroll sticky-top">
  <div class="container">
    <div class="row">
      <div class="col">
        <nav>
          <a [routerLink]="'/'" class="d-inline-block m-r-auto"
            ><img
              src="assets/images/logo/5.png"
              alt=""
              class="img-fluid brand-logo"
          /></a>
          <app-menu></app-menu>
        </nav>
      </div>
    </div>
  </div>
</header>
<!--megamenu section end-->
